/* CompanyStyles.css */
.company-details {
    text-align: center;
    color: black;
}

.company-header {
    font-size: 20rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.company-info {
    font-size: 5rem;
    margin-bottom: 15px;
}

.company-text {
    font-size: 3rem;
    margin: 5rem;
}

.invest-button {
    padding: 10px 20px;
    font-size: 4rem;
    font-weight: bold;
    background-color: #ffcc00; /* Yellow background color */
    color: #000; /* Black text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.invest-button:hover {
    background-color: #ffdb4d; /* Darker yellow on hover */
}
